@import '../../shared/styles/breakpoints';

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;

  .header {
    display: flex;
    align-items: baseline;
    gap: 10px;

    .heading {
      @include respond-to(x-small) {
        margin-bottom: 0;
      }
    }
  }

  .token-input {
    width: 40%;

    @include respond-to(large) {
      width: 65%;

      @include respond-to(medium) {
        width: 82%;

        @include respond-to(small) {
          width: 100%;
        }
      }
    }
  }

  .submit-button {
    height: 3rem;
    width: 13rem;
  }
}
